body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Volkhov", serif;
}
.products-page{
    position: absolute;
    top: 200px;
    width: 100%;
    height: 100vh;
    background: url('/pexels-bohlemedia-1884584.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.products-page h1{
    font-size: 90px;
    color: rgba(0,0,0,0.6);
}

.products-page p{
    font-size: 30px;
    font-weight: 900;
}

.products-container{
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 1340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-top{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-around;
    margin-top: 100px;
}


.page-top p{
    font-size: 35px;
}

.products-card-container{
    width: 100%;
    height: 400px;
    margin: auto;
    margin-top: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    
}

.cardcontainer{
    width: 300px;
    height: 500px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    
}

.card{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 500px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    overflow: hidden;
}

.card img{
    width: 200px;
    height: 200px; 
    object-fit: contain;

    
}

.card div h1{
font-size: 18px;
text-align: center;

}

.cardcontainer div h5{
    font-weight: 400;
    text-align: center;
}

.left{
    cursor: pointer;
    background: transparent;
    border: none;
}

.right{
    cursor: pointer;
    background: transparent;
    border: none;
}


@media screen and (max-width:1200px) {
    .products-page{
        position: absolute;
        top: 80px;
    }
    
    .products-page h1{
        font-size: 70px;
        color: rgba(0,0,0,0.6);
    }
    
    .products-container{
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 950px;
    }
    
    .products-card-container{
        width: 80%;
        height: 400px;
        margin: auto;
        position: relative;
        top: 90px;
        display: flex;
        margin: 30px 30px;
        
    }
    
    
    .card img{
        width: 200px;
        height: 180px; 
        object-fit: cover; 
    }
    
    .cardcontainer{

        gap: 10px;
        display: grid;
        grid-template-columns: auto auto;
        
    }
    
    .cardcontainer div h5{
        font-weight: 400;
    }
    .card{
        width: 300px;
        height: 450px;
        background: white;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        border-radius: 20px;
        display: flex;
        gap: 20px;
    }
    }